<?xml version="1.0"?><AndroidAttestation><NumberOfKeyboxes>1</NumberOfKeyboxes><Keybox DeviceID="sw"><Key algorithm="ecdsa"><PrivateKey format="pem">-----BEGIN EC PRIVATE KEY-----
MHcCAQEEINOqLkryrQb40nd6+af4XyxCgamFViEHiBTWffImJKDJoAoGCCqGSM49
AwEHoUQDQgAEoUgxMIVCYdhgNuKl8LUaDAVG4gDLW5HI1qqb0oPscgadmXJhraBe
X+SF74HjKprXLaEjrCC/1yCSFsPWpqoizw==
-----END EC PRIVATE KEY-----</PrivateKey><CertificateChain><NumberOfCertificates>3</NumberOfCertificates><Certificate format="pem">-----BEGIN CERTIFICATE-----
MIIB9DCCAXmgAwIBAgIQKCxmIIUNPuj0j6bL98QLNjAKBggqhkjOPQQDAjA5MQww
CgYDVQQMDANURUUxKTAnBgNVBAUTIGQ4YmZlOTUxYzg0MGEwNGQ1MTcwYjVhZGUw
NmQzYTU0MB4XDTIyMDEyNTIzMzUyMVoXDTMyMDEyMzIzMzUyMVowOTEMMAoGA1UE
DAwDVEVFMSkwJwYDVQQFEyA4YzBlNjBjZGYwNGUyYjQ1MWMyOTY2NDVlYmFlMGFk
ODBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABKFIMTCFQmHYYDbipfC1GgwFRuIA
y1uRyNaqm9KD7HIGnZlyYa2gXl/khe+B4yqa1y2hI6wgv9cgkhbD1qaqIs+jYzBh
MB0GA1UdDgQWBBT9htbJlzc01RuKa5VPFDuWC+/9rzAfBgNVHSMEGDAWgBRI9I6O
trDGv8Vaz6nPAL/WqA7rUzAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIC
BDAKBggqhkjOPQQDAgNpADBmAjEApCZ12C5NTULVQz3fXc5fKcQTMOhTthgcDWRu
b/WnKLl2ja2J1H/zehzXtgFwQDx1AjEA1D2jtYHZ+V2iewDM9GmCp266Alcpbx1N
Kdun1CSUBLeM4UFp3SI+9XBMaAoQTj+t
-----END CERTIFICATE-----</Certificate><Certificate format="pem">-----BEGIN CERTIFICATE-----
MIIDlDCCAXygAwIBAgIRAJVCTT29Kco6Jb3Kxe5RGHwwDQYJKoZIhvcNAQELBQAw
GzEZMBcGA1UEBRMQZjkyMDA5ZTg1M2I2YjA0NTAeFw0yMjAxMjUyMzMyNDhaFw0z
MjAxMjMyMzMyNDhaMDkxDDAKBgNVBAwMA1RFRTEpMCcGA1UEBRMgZDhiZmU5NTFj
ODQwYTA0ZDUxNzBiNWFkZTA2ZDNhNTQwdjAQBgcqhkjOPQIBBgUrgQQAIgNiAAQW
wIfytXG3HCiP5A86lhNH6YxLM5nIgnssT8AejEwAtF/Qh8rI9++5kyl4CoSTW8dh
7c7ssRPp8AekngN/BzHB3A7Muw6Z2V69zwQVye2HaVMmrsy0AAHv15Unmg3/1Nyj
YzBhMB0GA1UdDgQWBBRI9I6OtrDGv8Vaz6nPAL/WqA7rUzAfBgNVHSMEGDAWgBQ2
YeEAfIgFCVGLRGxH/xpMyepPEjAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQE
AwICBDANBgkqhkiG9w0BAQsFAAOCAgEAM9sIKoPdl8OeIf2bfiNxopvg0u/Saxu/
qfMTBywzXrspkBmCgXk0NVHRnS+K+BYsIMxd7GTcPU98+69MOLSBH5qEY1G/1uu+
wIlU3B6/v3k+oyAGzCwZiNBMkIF8ASYj/t3s79h69y54CVAFqKwWBXZWeXZawGY6
JdQ39dLlkLpxBq2Jb0fJC/9mdvU3lw7j6qVQPpXDKKuk1l5mTsv7yrSHyxUByHp8
IvF+RxIbGe3qPpMlRB8kSRJKugtMPPu2g0sAYxI9Hw8Dm1UQvgQAWj2KJ9tHdiZn
jb3byHkm3d0+wEzSczjfqQ5k5DRSOjWdQk8vSv3SHOeUG25w/3lKvg1AVihgiron
LdSDYjCm6c9HJl8Aa6j9ofIwZQIZn7rnl8e2AGa/BNgmviNnc2Zgnkw1nhUsbNmd
foNbyf5sLK0PrScgZ+INmx7ZqflnXq325todpsW2LYkPR+S6cOG8hF/9M87gCK6R
HC0GBoDnMhA6MtGn/3MTivEBSiB3XVD8a9ywFhueOkyvMAN+61VLFSDQi3HAFxlQ
E3Lo/vVZGtQuZf0pxf/+2TA+H+oeJR7fnnf5LwllUIBN70XfgVjA1oxPnSYf2EUE
FxwGxDGhDPHJy+ufJ1SQiuzpaIbpuBjq7XHNnXkrDbVNTT8/8T8rFPF+pp2iaRKE
0tVhbx89LBM=
-----END CERTIFICATE-----</Certificate><Certificate format="pem">-----BEGIN CERTIFICATE-----
MIIFHDCCAwSgAwIBAgIJAMNrfES5rhgxMA0GCSqGSIb3DQEBCwUAMBsxGTAXBgNV
BAUTEGY5MjAwOWU4NTNiNmIwNDUwHhcNMjExMTE3MjMxMDQyWhcNMzYxMTEzMjMx
MDQyWjAbMRkwFwYDVQQFExBmOTIwMDllODUzYjZiMDQ1MIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEAr7bHgiuxpwHsK7Qui8xUFmOr75gvMsd/dTEDDJdS
Sxtf6An7xyqpRR90PL2abxM1dEqlXnf2tqw1Ne4Xwl5jlRfdnJLmN0pTy/4lj4/7
tv0Sk3iiKkypnEUtR6WfMgH0QZfKHM1+di+y9TFRtv6y//0rb+T+W8a9nsNL/ggj
nar86461qO0rOs2cXjp3kOG1FEJ5MVmFmBGtnrKpa73XpXyTqRxB/M0n1n/W9nGq
C4FSYa04T6N5RIZGBN2z2MT5IKGbFlbC8UrW0DxW7AYImQQcHtGl/m00QLVWutHQ
oVJYnFPlXTcHYvASLu+RhhsbDmxMgJJ0mcDpvsC4PjvB+TxywElgS70vE0XmLD+O
JtvsBslHZvPBKCOdT0MS+tgSOIfga+z1Z1g7+DVagf7quvmag8jfPioyKvxnK/Eg
sTUVi2ghzq8wm27ud/mIM7AY2qEORR8Go3TVB4HzWQgpZrt3i5MIlCaY504LzSRi
igHCzAPlHws+W0rB5N+er5/2pJKnfBSDiCiFAVtCLOZ7gLiMm0jhO2B6tUXHI/+M
RPjy02i59lINMRRev56GKtcd9qO/0kUJWdZTdA2XoS82ixPvZtXQpUpuL12ab+9E
aDK8Z4RHJYYfCT3Q5vNAXaiWQ+8PTWm2QgBR/bkwSWc+NpUFgNPN9PvQi8WEg5Um
AGMCAwEAAaNjMGEwHQYDVR0OBBYEFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMB8GA1Ud
IwQYMBaAFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMA8GA1UdEwEB/wQFMAMBAf8wDgYD
VR0PAQH/BAQDAgIEMA0GCSqGSIb3DQEBCwUAA4ICAQBTNNZe5cuf8oiq+jV0itTG
zWVhSTjOBEk2FQvh11J3o3lna0o7rd8RFHnN00q4hi6TapFhh4qaw/iG6Xg+xOan
63niLWIC5GOPFgPeYXM9+nBb3zZzC8ABypYuCusWCmt6Tn3+Pjbz3MTVhRGXuT/T
QH4KGFY4PhvzAyXwdjTOCXID+aHud4RLcSySr0Fq/L+R8TWalvM1wJJPhyRjqRCJ
erGtfBagiALzvhnmY7U1qFcS0NCnKjoO7oFedKdWlZz0YAfu3aGCJd4KHT0MsGiL
Zez9WP81xYSrKMNEsDK+zK5fVzw6jA7cxmpXcARTnmAuGUeI7VVDhDzKeVOctf3a
0qQLwC+d0+xrETZ4r2fRGNw2YEs2W8Qj6oDcfPvq9JySe7pJ6wcHnl5EZ0lwc4xH
7Y4Dx9RA1JlfooLMw3tOdJZH0enxPXaydfAD3YifeZpFaUzicHeLzVJLt9dvGB0b
HQLE4+EqKFgOZv2EoP686DQqbVS1u+9k0p2xbMA105TBIk7npraa8VM0fnrRKi7w
lZKwdH+aNAyhbXRW9xsnODJ+g8eF452zvbiKKngEKirK5LGieoXBX7tZ9D1GNBH2
Ob3bKOwwIWdEFle/YF/h6zWgdeoaNGDqVBrLr2+0DtWoiB1aDEjLWl9FmyIUyUm7
mD/vFDkzF+wm7cyWpQpCVQ==
-----END CERTIFICATE-----</Certificate></CertificateChain></Key><!-- Contact: @yourbestregard or mention (@) admin in group @azmunaashome. Share and get a valid keybox here, but we only give out one at a time because you guys like to burn them. Thanks to everyone who contributed. This keybox was shared by 28, January 2026. --><Key algorithm="rsa"><PrivateKey format="pem">-----BEGIN RSA PRIVATE KEY-----
MIIG4wIBAAKCAYEAyQt8akDrFYt47Jhcsd0k8mjC16hLM+kxvWm7AXvQgcuT6bRZ
cBaumk1jeXMHnc3HaPM2TVpTt3clddoFooLmjZNulQuyhTRmX2sOrIr+7dX6YZmj
mIQPqLGcpQYtrl79Mm7Ro4HsNFDyWdAfbJmwYrfGXP8gg6hDg+C9wIGDUvSHVMTn
KNkw+XEUbiGKXAYRyUJiC3oAeCNfKhJpvd8TEGTuWrd5RAY8TXqdxZTUAYmfsZQs
MG1wcxdi+nZewONM6zwjh+hlbSqCa5pE430jRb2O/loqbJ1C2WtKfsON8358feXh
UVb0Lpr11eR5aLZtEwIKFocY1UljLvur4EfLh9o05bPx6dPVgGHJsZ9fAcETqVxo
nyXPlXjB4B5TQEAomdK2PvMHRrhfuduhqQv2vDA2fMAb1aaaUmqJQwXflKbM6Kpe
N6AB579vNfoHH1u1+Z18tkKLSMeJ0OrognG9LFKfjHK1ToGJJLiCRX/3ACpIbEtG
fDgfJ8D0VtvylqNvAgMBAAECggGALdC/RpuKtzs0kH5cSXBDFjcHiAvjL25KFoc8
xabIqnuRNqYR57hTi/hs3eV3699UPTeHvXMDNwEg+U15EULRdZwOjErBIRgC6GXG
T03RsLOdvpY7sOsPgnsPXpAc4urkupSEk8Vs5bM4t3z1XFNd3fFRdCnz5+z1jd0u
gOtC2Sm+mXPR1f5A6ed6J2rfU/9SGFJXc5QW/UnaSwUtMcbfWlIV+3hqWzUskt+J
ithSxBLv4JEKzPJzuNawiLFnAIALxOALfLVnnBTx8sWQ0nHQSYPjY2ArRx6sTEUB
zosS2rsWMez/8LHJw1mzw1OC4p05FHjnKa/T+6TNLcRNEgA8+XHZKmGyeVgjBMgL
ddAmqc7CtBS6GEzIsNECSJh3O5lk8S2g4Vy1gILBczWHMKj/u7ZJ4qoQgLNgV5/a
4Tvhk0UsJRb5nr7Lw80jkQvIgnr1V5S1za5ry26eeLp02IEU52hpDx39lKXN6EW0
fMBnxheov2fBNMXAy7iI/7RGBhExAoHBAO3J7TUocr1dH5NDCsFSOW+M3n1PFSCv
NVtKT6iouMmIe8sXMElXsfbxVcGCLoqYU7QdWEHsOQgwkCq1PPbPXvqpNr2NOpM6
fV0QsTa6Q8iMnlGsKHX/WcQYnpvhkaF46khHNpJecz/YTDXItPsg1c8CAeVLciQN
dQskZpvmRF3lDCmzXCHIc95bZeTN87P0eD80X4rSeDdgsnR5cs1w9vkKrMS0j4gw
Sm3s1YdEaOzhWqXEPFipxBwzbQkxTycMOQKBwQDYcSkPdNBT85wijV16WM3oj/F/
fbXrYDRInAztgRa21+eNb9GWTk4K1L/+3gvjwU2jfd9UX6zQ3yXmi2ThHhMUy+KS
uAW9gLTfMpSiZPPVkxFPigX3frgXc+8P4ERI1wnBLJI4hq3jhrieOzuyJifA57HK
Nf4iUbOQvJZ5AFPNWChXYU3aY9yigzE8M+q48N5qT2D4+JOpb09++8Kef4qpU0mk
OdMcL9hLq92EtZ+wDGyMfy225nwRTnjH6T3nfOcCgcBmBVrGkeIYqNmhPwRgSTzn
RVM4BDQWX9XOoyVmQW122h3y1rIa5YsvXf/jFE2PnSdcgbKaJhWaE+vmxvevFO21
MeCQlwVooZGj2kOOLYBjjSFn/Ssm5TXIUp/KVY877jrmY9dgGTHtVInuEXzEuiPB
uyTBEguYuEVdUHLNtI/kkR8UzSVcQTqlTiV7c3l53guxYnETiJWXfN9T5b+BsVPl
KdVSV/20+rMUUqaScKFr8IwJzxXtHHlNeCrx5LwHDtECgcEAi1VFloKfffvMHl4c
uB8k5rqLP4RgsRZscfWrSNWaFrikgmNia70a9lQBCQROaR7OaRolw74XlRqh3mkL
1vOyWufpgoPehiCtzyVTk7sjUPDs6uQydSHpRofGdNTtgGqWB/o2YxcoJ9lZTdtZ
0ZRIcSF2TXM2l0c7LkiJIXn5eK5wwdeM87LnnOKRtmzBhK7ir1NMXNpAzIkwhtFx
dvEqBVjthkAHTBTsy8Hmx4DYPM+yrTtN5Xk4kzeN/zuCM1wvAoHAXRacpiMP5OIf
BOa/00e/s3+sH25OfYt3qynBbyo1Vx7RZEhPdxdWUY0262GjSuyoO3bhPVzzF7rq
bqI43+rHTkph7lCDsEu6pXtpZb+zWeljv3/DxbbFWe/0PjPAlyzQShM4TsbRzX8E
ulu0HKgNQSNiWa48g8v3NtJEUeyTKUIn4FrmBoNv/s+JqqgMHZYiVfk1tTTy1vST
Aj6nvBiHqNvI9OoN0EUkWNth77mtE+KnyBAxQmUohOs/tVxRcm1M
-----END RSA PRIVATE KEY-----</PrivateKey><CertificateChain><NumberOfCertificates>3</NumberOfCertificates><Certificate format="pem">-----BEGIN CERTIFICATE-----
MIIE3zCCAsegAwIBAgIQCin8fo7HPt9d/jtigQ2u9zANBgkqhkiG9w0BAQsFADA5
MQwwCgYDVQQMDANURUUxKTAnBgNVBAUTIGQ4YmZlOTUxYzg0MGEwNGQ1MTcwYjVh
ZGUwNmQzYTU0MB4XDTIyMDEyNTIzMzUyMFoXDTMyMDEyMzIzMzUyMFowOTEMMAoG
A1UEDAwDVEVFMSkwJwYDVQQFEyA4YzBlNjBjZGYwNGUyYjQ1MWMyOTY2NDVlYmFl
MGFkODCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCCAYoCggGBAMkLfGpA6xWLeOyY
XLHdJPJowteoSzPpMb1puwF70IHLk+m0WXAWrppNY3lzB53Nx2jzNk1aU7d3JXXa
BaKC5o2TbpULsoU0Zl9rDqyK/u3V+mGZo5iED6ixnKUGLa5e/TJu0aOB7DRQ8lnQ
H2yZsGK3xlz/IIOoQ4PgvcCBg1L0h1TE5yjZMPlxFG4hilwGEclCYgt6AHgjXyoS
ab3fExBk7lq3eUQGPE16ncWU1AGJn7GULDBtcHMXYvp2XsDjTOs8I4foZW0qgmua
RON9I0W9jv5aKmydQtlrSn7DjfN+fH3l4VFW9C6a9dXkeWi2bRMCChaHGNVJYy77
q+BHy4faNOWz8enT1YBhybGfXwHBE6lcaJ8lz5V4weAeU0BAKJnStj7zB0a4X7nb
oakL9rwwNnzAG9WmmlJqiUMF35SmzOiqXjegAee/bzX6Bx9btfmdfLZCi0jHidDq
6IJxvSxSn4xytU6BiSS4gkV/9wAqSGxLRnw4HyfA9Fbb8pajbwIDAQABo2MwYTAd
BgNVHQ4EFgQUnv59J9M2aVJkbzkSGW0/JT8HlhgwHwYDVR0jBBgwFoAUHoS2ZNcT
eABFP6q3SJ2Gc4MKL0gwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAgQw
DQYJKoZIhvcNAQELBQADggIBAFcd9g82QyOhH01bM8RjXu5xiPv6js754Eomk/P5
KNvllyt7dYROA/xuzc3n0MyLQ3CQZLc6iDBrRZye0eojRo+hoGUbgMLe61u6AHmz
ZtS3ethQgFNoN6CcIn5auVi9GX9pvgRHdDUFDmHdV1kFGQGZ1IWxivqUkgBcsw2h
tDpj9Pn+Xohjg0ERmvLhJd+Nks4c3K/e++LTi4uUKXdNv304ScIlxeG7g/KUXvxw
HmaPgCx91hbErdHnTpmOZcDZ2oXa8ZQ1PPe8IvNBGgTvU3NEQ8ae+g0PEdzN9yuZ
48C/cVg2//6xbrdMgwiP0UPhQOAGASXnwXRnw6Firmt8FOhmJKgU1vVP9KLNqS/4
RudwOpG7fzxnx25fygffuWkPTRsd4tlz0i2RKGK2X4kEJk/XM/5ncM5kgd4tRzbH
CIt5VkLNsewyFTgsnMUvopyuOgdeYYn6p/T3oVtJi7wD67K8JwOtvwsGp9f1dBa3
jGeEAnKwzZAMVPwIYUspOXBd4ApdJO07yHQuKA50e9Gk6T2PH0sW9mg+/ioviWdc
/gpHpwY4eGGdmKqUnkHvKGCnkSxRZ4qhW3GA4WXfGkFMwdh5ZAknHpaxM6BeUdtY
6Xr+R6l8ihs7cSufoPZblVUGspF1cZFBoOOg3PD3GUb8hHAhl2bENwtAw1QaHQmq
RdIT
-----END CERTIFICATE-----</Certificate><Certificate format="pem">-----BEGIN CERTIFICATE-----
MIIFQjCCAyqgAwIBAgIRAJVpa8JPa04bL15TmeDJK+4wDQYJKoZIhvcNAQELBQAw
GzEZMBcGA1UEBRMQZjkyMDA5ZTg1M2I2YjA0NTAeFw0yMjAxMjUyMzMyMjlaFw0z
MjAxMjMyMzMyMjlaMDkxDDAKBgNVBAwMA1RFRTEpMCcGA1UEBRMgZDhiZmU5NTFj
ODQwYTA0ZDUxNzBiNWFkZTA2ZDNhNTQwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAw
ggIKAoICAQC7OHCK6sQSQiRxMnssiRbhV1KsHedZ5X5triotg1BRAiSL55rFqJkY
SSuFsuRWn8nkIceVqeesy/0DFUBHeyLA2XxfHVlKhQGP02V103OfRx4t9EHLsYAQ
kZQyjnk1uLaSvXg6jYRTLphqOX9B5ITXwmH3IjITVcKDF0U5hF+F0xgSERcU7E18
167Xz7ic/WRX9fMWu+12Q2cZVYY0l+XZGwi5KyIsoIH7uZXV4e/T1meYxg1mTXnH
PWRQeZeZsP3/z2EBMuBuYE2lc/hyoe1C0awzxGeSC+FA+QcDmBMQ3EviU+/qpMNG
sX4Pw939Nf/UBVvvxT6znVfmS825d3lupMvglQdBBKPWxj8CztyH89obubHPNti3
xpi3lVbBacyDAXCQR9VmJ3x5JpAeWtuSufZMZVtkKh7ZfHK6VbIKDMif2a/Vyuu/
XS2zjd/j53mHEVmK7PQzoHnG+vqOOnjoTGq7xWqiUoEJuIBJKCWsJPKKSmtpiRiH
76DALYKNLQjeSC7OFD+nr4hgdedwHOKhLKAxjEWnW2e4cCzQOlETjmjGdXkt/pS9
5UzAwaGU+5whUKzZD8wELVmtdIUsa+nwNB4lIVxQW/UcMHb0dLJskJ7PjmqVXXDm
XSph2CyqyxjNCaTZIETQLHrH6WHYQa25ZMAVBngmfV8nlPIo6HzCiQIDAQABo2Mw
YTAdBgNVHQ4EFgQUHoS2ZNcTeABFP6q3SJ2Gc4MKL0gwHwYDVR0jBBgwFoAUNmHh
AHyIBQlRi0RsR/8aTMnqTxIwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMC
AgQwDQYJKoZIhvcNAQELBQADggIBACUbunyEmiucwchowLdAn6ioG1/xpBPdICKU
Si3LArvLUOfuDaMeoO/2kbzYUWCYKalc/leWGX29SBb36Wk+bs3ZEiSYy00phSbv
s3mZBt9/uqoRDZOb8dTMHCWQupetgqFvQKhZ12rgcqhOkn4BRsJP/zBlBQ6f9T2A
yEF6B45+UfSXExp5y+z9W38/VUOHRTO7E7NvCfXuCPkTISQCjKI5o7bELfyLylvS
agrD/AIgHgPr2CroN1KS/zhRCo4Twgh7hoXWcEsmz7gZzwQCzI//lr7q3ySX0lNj
nGQuzYHbwGqj5+Gsy9yxc/4g/l6wVjS0C/1Rpcm9qFBwQZJ4GXtx6zhg7kY4wcNr
aLLTFc/Ll+jr6rGqP96QVGZPlcJ5dBdjUhCPGWZCuRs0IR4FGF2GwjxpY1fwwZIk
uJacQzolf6tUZp6Ou+wKV9OQFH67xSP5sHZwBvsukvRFrWHJREGPye6DcHnrV2IW
Wx4tlOCTIV0VCdPlhOyqGnwpKnF9XUlHRdgxXcCVLDScNKeZjfl1Fs9876cWTRCe
1g6IDBCiz0Q6yAp5RI9RUZnBYbym2+8v1tMTRAmp69RT58PslXE30UB6axkvmZ9x
eWXrfU7Ujajt4CjMR3dX8Xq7O4VrqyMo3tNmQwnLzwrfh9s18KaESePm9PRAUQzc
GtrVSAS7
-----END CERTIFICATE-----</Certificate><Certificate format="pem">-----BEGIN CERTIFICATE-----
MIIFHDCCAwSgAwIBAgIJAMNrfES5rhgxMA0GCSqGSIb3DQEBCwUAMBsxGTAXBgNV
BAUTEGY5MjAwOWU4NTNiNmIwNDUwHhcNMjExMTE3MjMxMDQyWhcNMzYxMTEzMjMx
MDQyWjAbMRkwFwYDVQQFExBmOTIwMDllODUzYjZiMDQ1MIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEAr7bHgiuxpwHsK7Qui8xUFmOr75gvMsd/dTEDDJdS
Sxtf6An7xyqpRR90PL2abxM1dEqlXnf2tqw1Ne4Xwl5jlRfdnJLmN0pTy/4lj4/7
tv0Sk3iiKkypnEUtR6WfMgH0QZfKHM1+di+y9TFRtv6y//0rb+T+W8a9nsNL/ggj
nar86461qO0rOs2cXjp3kOG1FEJ5MVmFmBGtnrKpa73XpXyTqRxB/M0n1n/W9nGq
C4FSYa04T6N5RIZGBN2z2MT5IKGbFlbC8UrW0DxW7AYImQQcHtGl/m00QLVWutHQ
oVJYnFPlXTcHYvASLu+RhhsbDmxMgJJ0mcDpvsC4PjvB+TxywElgS70vE0XmLD+O
JtvsBslHZvPBKCOdT0MS+tgSOIfga+z1Z1g7+DVagf7quvmag8jfPioyKvxnK/Eg
sTUVi2ghzq8wm27ud/mIM7AY2qEORR8Go3TVB4HzWQgpZrt3i5MIlCaY504LzSRi
igHCzAPlHws+W0rB5N+er5/2pJKnfBSDiCiFAVtCLOZ7gLiMm0jhO2B6tUXHI/+M
RPjy02i59lINMRRev56GKtcd9qO/0kUJWdZTdA2XoS82ixPvZtXQpUpuL12ab+9E
aDK8Z4RHJYYfCT3Q5vNAXaiWQ+8PTWm2QgBR/bkwSWc+NpUFgNPN9PvQi8WEg5Um
AGMCAwEAAaNjMGEwHQYDVR0OBBYEFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMB8GA1Ud
IwQYMBaAFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMA8GA1UdEwEB/wQFMAMBAf8wDgYD
VR0PAQH/BAQDAgIEMA0GCSqGSIb3DQEBCwUAA4ICAQBTNNZe5cuf8oiq+jV0itTG
zWVhSTjOBEk2FQvh11J3o3lna0o7rd8RFHnN00q4hi6TapFhh4qaw/iG6Xg+xOan
63niLWIC5GOPFgPeYXM9+nBb3zZzC8ABypYuCusWCmt6Tn3+Pjbz3MTVhRGXuT/T
QH4KGFY4PhvzAyXwdjTOCXID+aHud4RLcSySr0Fq/L+R8TWalvM1wJJPhyRjqRCJ
erGtfBagiALzvhnmY7U1qFcS0NCnKjoO7oFedKdWlZz0YAfu3aGCJd4KHT0MsGiL
Zez9WP81xYSrKMNEsDK+zK5fVzw6jA7cxmpXcARTnmAuGUeI7VVDhDzKeVOctf3a
0qQLwC+d0+xrETZ4r2fRGNw2YEs2W8Qj6oDcfPvq9JySe7pJ6wcHnl5EZ0lwc4xH
7Y4Dx9RA1JlfooLMw3tOdJZH0enxPXaydfAD3YifeZpFaUzicHeLzVJLt9dvGB0b
HQLE4+EqKFgOZv2EoP686DQqbVS1u+9k0p2xbMA105TBIk7npraa8VM0fnrRKi7w
lZKwdH+aNAyhbXRW9xsnODJ+g8eF452zvbiKKngEKirK5LGieoXBX7tZ9D1GNBH2
Ob3bKOwwIWdEFle/YF/h6zWgdeoaNGDqVBrLr2+0DtWoiB1aDEjLWl9FmyIUyUm7
mD/vFDkzF+wm7cyWpQpCVQ==
-----END CERTIFICATE-----</Certificate></CertificateChain></Key></Keybox></AndroidAttestation>
