<?xml version="1.0"?>
<AndroidAttestation>
<NumberOfKeyboxes>1</NumberOfKeyboxes>
<Keybox DeviceID="sw">
<Key algorithm="ecdsa">
<PrivateKey format="pem">
-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIDYlc3Eb9BGZIDMhyngpjrrA+hHA7r+L7Ed4YH8Z1+7yoAoGCCqGSM49
AwEHoUQDQgAE29F1LXgFDj1XFGPKu/fR+Uxcd7oFDoN3g770f0ez75Emkssw4ph9
uLufEgI/RE2zDWCM7Sykfj+IXGQGqiiLcA==
-----END EC PRIVATE KEY-----
</PrivateKey>
<CertificateChain>
<NumberOfCertificates>3</NumberOfCertificates>
<Certificate format="pem">
-----BEGIN CERTIFICATE-----
MIIB9DCCAXmgAwIBAgIQRgYcCi4MPogktJO1Fr9EPDAKBggqhkjOPQQDAjA5MQww
CgYDVQQMDANURUUxKTAnBgNVBAUTIDdiMzU0OWZmYmQyOGU0M2NmNDZiZmNjZjBi
MTU3ODQxMB4XDTI0MDcxMjIxMzc0NVoXDTM0MDcxMDIxMzc0NVowOTEMMAoGA1UE
DAwDVEVFMSkwJwYDVQQFEyAxMWM2NWRjY2Y2MjBjNTExOWRiNGZjNmFjZmI3Y2Rh
ODBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABNvRdS14BQ49VxRjyrv30flMXHe6
BQ6Dd4O+9H9Hs++RJpLLMOKYfbi7nxICP0RNsw1gjO0spH4/iFxkBqooi3CjYzBh
MB0GA1UdDgQWBBQQqHmZOaeyoMKUb4Q5YyXS7DYpfTAfBgNVHSMEGDAWgBRFQ0/T
XmU8cbyvC9/STDNRUv7EQDAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIC
BDAKBggqhkjOPQQDAgNpADBmAjEAwIg3qDl4H3BdYhjXaFYG/gBvbJhxq747ZegW
sVTo2NEhS4q+pmTW/Si9Vinx1ANfAjEA0a/N0DIvCR8bIpSoc1oQH/KXUHUf6WDl
Mya+gZRZWW4NGF4xd81aqBvAR1klywFI
-----END CERTIFICATE-----</Certificate>
<Certificate format="pem">
-----BEGIN CERTIFICATE-----
MIIDlDCCAXygAwIBAgIRAOLP/FjsaKjb3n/SeaLfOD4wDQYJKoZIhvcNAQELBQAw
GzEZMBcGA1UEBRMQZjkyMDA5ZTg1M2I2YjA0NTAeFw0yNDA3MTIyMTM1NDNaFw0z
NDA3MTAyMTM1NDNaMDkxDDAKBgNVBAwMA1RFRTEpMCcGA1UEBRMgN2IzNTQ5ZmZi
ZDI4ZTQzY2Y0NmJmY2NmMGIxNTc4NDEwdjAQBgcqhkjOPQIBBgUrgQQAIgNiAAR/
eY6k2GdVaEZ4456SXRP2N5MDhkzie9lpykw8nVs4LgpgPLamVfeqOCWUMV5R5pO/
Eij1pU6lDTTdSLR/RACjPbSFKsL7xlRHTstKAztygvm2R5vQq4Ex5RclfAHAoTyj
YzBhMB0GA1UdDgQWBBRFQ0/TXmU8cbyvC9/STDNRUv7EQDAfBgNVHSMEGDAWgBQ2
YeEAfIgFCVGLRGxH/xpMyepPEjAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQE
AwICBDANBgkqhkiG9w0BAQsFAAOCAgEAROqyamyLLWngTPgGdwxC6AsEtXY79obJ
tlhknfBUWu5rh3QqMwYkWjhTlXi52dwezkLLrnuzMFHh5RryF+RZvybJ1GRf95N2
GRvvdW1xcJOKcUKThH8QXa/qhvlht0fiffzayKhp7pYb3NIKFx/1lxGEVfsIF+F6
29T2efJPNnpUrZfKDrI9Bge4Xs0llRY1jyYNL9H9R48ZdG+y5v8aUZh5pnFBnLXb
TR6Z1igDXEaQgrBqB3HTif1RP/1DYyE/RInQOE0WHujlLuRogzy8Z/mtoLSxSfGp
ebNZwVm7feFOKam4fvmQmu/e/nOuxYTb2U+DmayC9Wf+FcMUFCVoumxcTZwqOGBJ
RUlwRB6u0JrxITH63ZYAu/9xNnMT8+JN34RQVEAGizsnacODqU41KjZWOCwDmU+h
cJTsrVnF1ahG1R6wGbQPvXTmax5qElTKp0Y8JY0FWdnSnmiKqgjuMg3v9NfkmTK8
FH8G/fr3LxuHKCMXZT6g83V03vvxQ4DRiuTnj5idvRivmY92Vn+NAL0bgvrD7DFg
ttYiSjla66AxyjpFrNflNRFPh77Rlg6VmNvSxBnoeChahNlcRfritQVOMaFGDq1s
iSaIBx6f3vTJWhsBqTgW3Bs8jWX7kweTaDjMpXx3MF2mtr+t8QxIK3EgvunBDMmO
H/S2ml5Gle8=
-----END CERTIFICATE-----</Certificate>
<Certificate format="pem">
-----BEGIN CERTIFICATE-----
MIIFHDCCAwSgAwIBAgIJAPHBcqaZ6vUdMA0GCSqGSIb3DQEBCwUAMBsxGTAXBgNV
BAUTEGY5MjAwOWU4NTNiNmIwNDUwHhcNMjIwMzIwMTgwNzQ4WhcNNDIwMzE1MTgw
NzQ4WjAbMRkwFwYDVQQFExBmOTIwMDllODUzYjZiMDQ1MIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEAr7bHgiuxpwHsK7Qui8xUFmOr75gvMsd/dTEDDJdS
Sxtf6An7xyqpRR90PL2abxM1dEqlXnf2tqw1Ne4Xwl5jlRfdnJLmN0pTy/4lj4/7
tv0Sk3iiKkypnEUtR6WfMgH0QZfKHM1+di+y9TFRtv6y//0rb+T+W8a9nsNL/ggj
nar86461qO0rOs2cXjp3kOG1FEJ5MVmFmBGtnrKpa73XpXyTqRxB/M0n1n/W9nGq
C4FSYa04T6N5RIZGBN2z2MT5IKGbFlbC8UrW0DxW7AYImQQcHtGl/m00QLVWutHQ
oVJYnFPlXTcHYvASLu+RhhsbDmxMgJJ0mcDpvsC4PjvB+TxywElgS70vE0XmLD+O
JtvsBslHZvPBKCOdT0MS+tgSOIfga+z1Z1g7+DVagf7quvmag8jfPioyKvxnK/Eg
sTUVi2ghzq8wm27ud/mIM7AY2qEORR8Go3TVB4HzWQgpZrt3i5MIlCaY504LzSRi
igHCzAPlHws+W0rB5N+er5/2pJKnfBSDiCiFAVtCLOZ7gLiMm0jhO2B6tUXHI/+M
RPjy02i59lINMRRev56GKtcd9qO/0kUJWdZTdA2XoS82ixPvZtXQpUpuL12ab+9E
aDK8Z4RHJYYfCT3Q5vNAXaiWQ+8PTWm2QgBR/bkwSWc+NpUFgNPN9PvQi8WEg5Um
AGMCAwEAAaNjMGEwHQYDVR0OBBYEFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMB8GA1Ud
IwQYMBaAFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMA8GA1UdEwEB/wQFMAMBAf8wDgYD
VR0PAQH/BAQDAgIEMA0GCSqGSIb3DQEBCwUAA4ICAQB8cMqTllHc8U+qCrOlg3H7
174lmaCsbo/bJ0C17JEgMLb4kvrqsXZs01U3mB/qABg/1t5Pd5AORHARs1hhqGIC
W/nKMav574f9rZN4PC2ZlufGXb7sIdJpGiO9ctRhiLuYuly10JccUZGEHpHSYM2G
tkgYbZba6lsCPYAAP83cyDV+1aOkTf1RCp/lM0PKvmxYN10RYsK631jrleGdcdkx
oSK//mSQbgcWnmAEZrzHoF1/0gso1HZgIn0YLzVhLSA/iXCX4QT2h3J5z3znluKG
1nv8NQdxei2DIIhASWfu804CA96cQKTTlaae2fweqXjdN1/v2nqOhngNyz1361mF
mr4XmaKH/ItTwOe72NI9ZcwS1lVaCvsIkTDCEXdm9rCNPAY10iTunIHFXRh+7KPz
lHGewCq/8TOohBRn0/NNfh7uRslOSZ/xKbN9tMBtw37Z8d2vvnXq/YWdsm1+JLVw
n6yYD/yacNJBlwpddla8eaVMjsF6nBnIgQOf9zKSe06nSTqvgwUHosgOECZJZ1Eu
zbH4yswbt02tKtKEFhx+v+OTge/06V+jGsqTWLsfrOCNLuA8H++z+pUENmpqnnHo
vaI47gC+TNpkgYGkkBT6B/m/U01BuOBBTzhIlMEZq9qkDWuM2cA5kW5V3FJUcfHn
w1IdYIg2Wxg7yHcQZemFQg==
-----END CERTIFICATE-----</Certificate>
</CertificateChain>
</Key>
<!-- Contact: @yourbestregard or mention (@) admin in group @azmunaashome. Share and get a valid keybox here, but we only give out one at a time because you guys like to burn them. Thanks to everyone who contributed. This keybox was shared by (?), 30 April 2026. -->
<Key algorithm="rsa">
<PrivateKey format="pem">
-----BEGIN RSA PRIVATE KEY-----
MIIG4wIBAAKCAYEArkcgOdm1TcicQLaczTasogKHSwjD4jf1X47i1NynZ0WcRfSs
NY7rHQnnfdPQEKSyjHkPdA+bMzIw/erS/gMqZ6ayThcS4EKR0Ogx6QGe3EZfecbd
GT3mVdLtZR7ou36omb2Y7ro6e5Ah8XgSGOgFgE7/m9tBXJQ8ZfSeVhuWn3zHdunZ
0wr4WCFqvfvf1BwEYFCyjOx8S1cXW1l9ZFZUcbPuzb5awukkMGVsvWUe6vZcjO8O
v+MM7uOf51HocltcUi59sxSAnTizXdDVEqLVQDWvn3nv2ds9vUVp6UrCEtyeSYcx
Za1lzGInz7hB91VFDTb+tyXL8vy3BS93/QLASKSsWUFu8CY07+i+Xtsf+1kJTAgK
N0DzSlQXyXOSYJMWvRlrJ+HtxXV3WUwS9KEaBebp51tTU/cB7JyyRJiLZ2LqVuVq
XrWnLlU/N6aPsFks+voN5Gbti8abAetUvTV/lQ2lvoHNeowrhqbH/qXgNpwpbPb9
/H2/ktNHx574FKuZAgMBAAECggGATCb+OOkdpSB8znY9LBqw8pYCQlJRLd9f0+Ke
0X6dk63CLHtOaJTLvcOfKMdOSod9EY6wpvlOyt8qszlR+vatJ9+aWC8S63WLO+rK
LFOt8/i4LYEtCaOXq3bgjugjsBIXYB6N3fr4JRgFDPt3hPSVusxKOvNiqy6G+dIb
AetKNOSUUCy9Js/LVs87UkrmMkwPyXpZmuSXJ2Cl7x+6gAaNHaYPOk3sYPD5BEC9
dEDkcq02Icsv+b8f3p8ON0j+NkIe6ygAOrBa4Pzh0nLU1PQiGLEeGsGai9eBBUzM
MUi/0P6u6glkEPWp9C/75PZ6OpoZ0zLtSo9qJdRoPgA9TBtHHAkg+Z2DsM0GO7Sh
kmth3+18wPv1TzG3rVazoimN+qIymEKilyvPRGbVTnqtc0R4ZPR8g04NQ+aFdNBF
hXDxomXXDATnLOIcO5T1WT+/yqLFwSouTO3VZKK83h6z3QoCS4K2yEIN75T6oMGI
Od9zNrzGSXJ7w7YJKlWW8w1JDDvRAoHBAOKv0+WkzRecdYOR8ME18598ziLH61ah
Qp85vRNwhfUC80HofRJFrbgasNlaggBPTvO7n5igqbG0aKeLmyIqesSmUMTRPqmE
Hhw9NG1erHOK/H7Yt5vEhqaMU4PVhl7z5d/xOenpbDwvvB787738PT2NqiNAW254
MCxF6m46LT14y6DQ/qL+0eXytNrKcWNqh9tX7EslDcKO7OjWiTGg/wTqQ1fugwnj
lMZtKWRmOqCi3pVXKPhZcZ8XvB0e+vIeBQKBwQDE0F3h2VDxcw8hvyvDrBeNZuzp
snY+5IMCGjccThk8rZabBTZo+De371IWZJ9jhNOgTzcOmflvZXK8pQWtqyAObaUw
mQMw92X6vKDvaZ9CedfJQQnCFiPTwVJSUZYTMf43tkBDG3t25FRQSp1jzpYF1eES
a0sfnOXDirBvtl4P9X72xC2kOkTy118H/Mz+Em0gkEisEuBc5YfY4bcMn2fHNJKH
9z3NimFnBDussZRrnBSD2sAWTLiUNRxvarP4N4UCgcEAtofEBP79kgyO52GFTd6G
jB6v0XvPORNilNmmMNgDVXWJsMFmrGbk6gC79FiXo2448bNbYEfGPGw7dOXKBenU
rzIIiWK/pTnYEP8LjyGTlPoONImG1uuZTNRjjx1JNH4J1Jfl/T7Sw2fgf8dFuGI6
Ya0HmZkBxmMKzyuBCD7aHMx+ksCWuWKcWx9il2Y5hUbLnEgg4aU1fjsd8qKFGCw+
DJQho9VPOJBDRL+ze7+BZ8Wdmvzy5X8IKYWwGHbQtFKNAoHAC7017FOu/UfUnjmt
3ZT1Lqz18pZ/cQ7mNYjkwp5x6Omdsw9jiG1NvX3b0pQb4a65hLVU3l0WwKs3ZcMe
DJbJabLmiHiH9TK8dXEs1Drjke58jXeAon/5kRbV1y0gm3J+7EnFmXsZKSVDViqt
KpfW4PA55YRazb7pAXnTPkaNY7xL32IiKsqC9E0eUPamL31f3vJcM09I7KGQMcJ8
zZbwdLRRDSUVHZ5kYuWgvZM1/BkqLBcvH+VhmQ117btakrKVAoHAW/y5Og3Ssy4d
BBVLivZBc0LmU1AgVzRfYdzORFBq6b2LePIKFlA0ENRGcPPfhzJiCDqyHWSWDwO5
Cz5tj1WCpevHmpguNWHxrvkJniF+HXbvsh+/S53G3IkcL1hXUCzcd/1dIsac8M1n
CvaYqe6ef0yz3bGkickapyCduo85RhZ76fISiaP7fGhH0weCvZkzz3zHXpe6VrgI
KpnmKggaw8WtU8BIKO1IpF1OmN8T9j8t65xEEf4b3RgNFqgkxWiu
-----END RSA PRIVATE KEY-----
</PrivateKey>
<CertificateChain>
<NumberOfCertificates>3</NumberOfCertificates>
<Certificate format="pem">
-----BEGIN CERTIFICATE-----
MIIE3zCCAsegAwIBAgIQTRL7GSQY7uWpR8DXCrAG1zANBgkqhkiG9w0BAQsFADA5
MQwwCgYDVQQMDANURUUxKTAnBgNVBAUTIDdiMzU0OWZmYmQyOGU0M2NmNDZiZmNj
ZjBiMTU3ODQxMB4XDTI0MDcxMjIxMzg0OFoXDTM0MDcxMDIxMzg0OFowOTEMMAoG
A1UEDAwDVEVFMSkwJwYDVQQFEyAwZjAzMTkyMzMxYWI1NWVhODI1NTAwYTFmZmQw
MDI3ZDCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCCAYoCggGBAK5HIDnZtU3InEC2
nM02rKICh0sIw+I39V+O4tTcp2dFnEX0rDWO6x0J533T0BCksox5D3QPmzMyMP3q
0v4DKmemsk4XEuBCkdDoMekBntxGX3nG3Rk95lXS7WUe6Lt+qJm9mO66OnuQIfF4
EhjoBYBO/5vbQVyUPGX0nlYblp98x3bp2dMK+Fghar3739QcBGBQsozsfEtXF1tZ
fWRWVHGz7s2+WsLpJDBlbL1lHur2XIzvDr/jDO7jn+dR6HJbXFIufbMUgJ04s13Q
1RKi1UA1r59579nbPb1FaelKwhLcnkmHMWWtZcxiJ8+4QfdVRQ02/rcly/L8twUv
d/0CwEikrFlBbvAmNO/ovl7bH/tZCUwICjdA80pUF8lzkmCTFr0Zayfh7cV1d1lM
EvShGgXm6edbU1P3AeycskSYi2di6lblal61py5VPzemj7BZLPr6DeRm7YvGmwHr
VL01f5UNpb6BzXqMK4amx/6l4DacKWz2/fx9v5LTR8ee+BSrmQIDAQABo2MwYTAd
BgNVHQ4EFgQUKtASkryv33iB1JxiReldq0si/NwwHwYDVR0jBBgwFoAU/cm4ChqJ
O+jVY7QjWMQsXQvZn/QwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAgQw
DQYJKoZIhvcNAQELBQADggIBAIh3dHXvqfeRb5/Scls/tr68WgRZiiOBPGaIP/vr
mXUlCp6/GupYOw1xVviNHOi42TLMGh4Ntx8H+GqawV8mwiIBCWJflZypk/mIkWGT
ZlF9S94dMR0Lg5NohcNNRVT3eP/66396LKRqLIT52X49SsYpXv77mQqF7xuwAW0x
54mypv8U/3IZQVOEcu0KsbWswjVqGyS6BLdYC/V3ed7+DeaZxhOty6VA44JtLRmm
y5ulNI9DuzCF+XJEuGMW+stYOuipnoyGFF7oWiDWnny17P9GCYwRs5OF3iF2hV/O
52ZwjMj6+5kaA+1dlod0jf8itDZTqLFYjy78oiBO8ZhiztAcYecay4UC2Ew6qjZD
aqrj+9+2uFZ5DS+hx18Y1pe6ZQna49Nm6IrBq5k+nfxCB5o6VFOcT400CqYcggWG
SirMKY+1yBdwcTilULj2wiBn/TBL6tYEYoMiYLYvCz9rS8dA8Y+YD/RInA5zwWyF
rlmdSloT7PARbECPZ2+96qBlPNhdEUNaYG9cCbQ8JN0rTcVyqTtzGG+oVaXqWZyt
hn/LMpSFYMsxGhmCzm9QNbInZ0z1XmBFfMD/al2KedfEsmQmMY6q5XMXRw+0F92J
Oui/ZX/ikpbM+Dbpom8AKqcs/hO4Dm6HPZ33WWyrDONDyc8c/BCaGrHglI72KEiC
n92N
-----END CERTIFICATE-----
</Certificate>
<Certificate format="pem">
-----BEGIN CERTIFICATE-----
MIIFQTCCAymgAwIBAgIQU3MWexrv4sq8RV/0tfa84TANBgkqhkiG9w0BAQsFADAb
MRkwFwYDVQQFExBmOTIwMDllODUzYjZiMDQ1MB4XDTI0MDcxMjIxMzUyNloXDTM0
MDcxMDIxMzUyNlowOTEMMAoGA1UEDAwDVEVFMSkwJwYDVQQFEyA3YjM1NDlmZmJk
MjhlNDNjZjQ2YmZjY2YwYjE1Nzg0MTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCC
AgoCggIBAODR131WRr9xek3Qp2w5vX4A9nMv7IF/cS9k9oF1OcsbTcR1rD7tr0dE
fFyvOFR8ihvx9LDR5WkcjDJ8ZXYKQ69BX6nz4N1gA0CtA7l0nTtJWUKvn2c6b5vh
1bC1u+Q8IrQOZlmdvj74QFgfH+0GJ3a2zbtovJzsoa2nxj3XPxWYPSZcVbG8A7Jo
h1M81jaOJZ9OchCjvhFlKHOMZ1mwTHqXIhrn/kvYx4le1H5zx9o6RlSzzukaXaoF
1kSFTumjLY6NBDz/KLvv+s3WNjVUMC25DA+IdKBHWKlYb7S8VM0bcsNQZWpbhPC5
bA+fJ1W+EJKIh9MvMfHllKh8+RfRl38VYAqeRaBYCzXzeXi5MN3Qx8JG7ZhCVrC5
S5NcoIe44Lcfa27/r/KNTlOPN0L38Joxl1L92EyL2UDq3trBpmP3HRam47fbGNxa
tkIp6UtGi+FSqZ6wOlG7X71wMqa33YAXNN1OlxN7MhLH1F7z/FK4FSI/T0mKP1zv
V8Vg9OhwPsHHkkd1Kd9sfOuRf5Ju6yVC1//zWCK3yYyqY+QWzd9ng/KAiLmLDo7k
qugif3TnKYr4wQ4rnkETDa0UVJyspXYGD+HkucbmtLnp+Wcz0l/wtCR2EacSa5iB
4ye4Xi1rwjizmlTs5nCORIfbsCJnQL8ReL5yfrIuNjgSC0hx3peFAgMBAAGjYzBh
MB0GA1UdDgQWBBT9ybgKGok76NVjtCNYxCxdC9mf9DAfBgNVHSMEGDAWgBQ2YeEA
fIgFCVGLRGxH/xpMyepPEjAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIC
BDANBgkqhkiG9w0BAQsFAAOCAgEAO8HWR5duwLVa/BfMC9u1G4v2xXEz7+pU+6JE
4z5csX9ilqKqiKjfe8wZdA2wcbhPnGnZaHRYP+iIrVniWItqjcmCXouICmoeQyRc
DmYziTGK8/Ukhgo57c3CCdcDFV4dje8KB/UUcUP3oFrHIRASiW9AS8YgLgEfknhd
PWHdom+1zPiAUnh/Rr41Eb6/LDBLiG5G6rwZpmcx4ZDfjaOeOR9t3ajSiB9vPjWc
JJieLcE4lmqHwOY3mHA9Fw0xGEEw7mLhvbuUyon/hGLFbDXfuWeT4p6Ur4BezHNz
r7h27AD83oOskmmfrLTpYsTANMj1VkJejI9xU2vZehpR1nTu2g+em+XO6eXnzhWn
TQxW2WE3pOWxwOLU+4kshqSgZulF1DtDb0jQ48BTuxjhSoC2QMnwb4Emtz7RZXZ3
n21NhiyCyGVI6c3AVSz5ZmYKTFa/I0ax70y4NTV/lmIQlea9O/7/g4n5F71YAfre
saI6GOY0DUc0m15M7YgQaDiCz0SKlqLLZJRjyUvtVb1UVDNEkYcNYVDWUYVP7J5V
202cFEKGIjN1Fp80VM7SW1KltyJBC5M9YqlRn9kH0C9bqUHrczY/2GmjJqPcRGUJ
1PsPWFCh23R2wDUTOkBCjSOQExg9+BSBX/PzEkGeS996rSDNnbO7Njsg8zqb5jwX
gz6cpQ4=
-----END CERTIFICATE-----
</Certificate>
<Certificate format="pem">
-----BEGIN CERTIFICATE-----
MIIFHDCCAwSgAwIBAgIJAPHBcqaZ6vUdMA0GCSqGSIb3DQEBCwUAMBsxGTAXBgNV
BAUTEGY5MjAwOWU4NTNiNmIwNDUwHhcNMjIwMzIwMTgwNzQ4WhcNNDIwMzE1MTgw
NzQ4WjAbMRkwFwYDVQQFExBmOTIwMDllODUzYjZiMDQ1MIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEAr7bHgiuxpwHsK7Qui8xUFmOr75gvMsd/dTEDDJdS
Sxtf6An7xyqpRR90PL2abxM1dEqlXnf2tqw1Ne4Xwl5jlRfdnJLmN0pTy/4lj4/7
tv0Sk3iiKkypnEUtR6WfMgH0QZfKHM1+di+y9TFRtv6y//0rb+T+W8a9nsNL/ggj
nar86461qO0rOs2cXjp3kOG1FEJ5MVmFmBGtnrKpa73XpXyTqRxB/M0n1n/W9nGq
C4FSYa04T6N5RIZGBN2z2MT5IKGbFlbC8UrW0DxW7AYImQQcHtGl/m00QLVWutHQ
oVJYnFPlXTcHYvASLu+RhhsbDmxMgJJ0mcDpvsC4PjvB+TxywElgS70vE0XmLD+O
JtvsBslHZvPBKCOdT0MS+tgSOIfga+z1Z1g7+DVagf7quvmag8jfPioyKvxnK/Eg
sTUVi2ghzq8wm27ud/mIM7AY2qEORR8Go3TVB4HzWQgpZrt3i5MIlCaY504LzSRi
igHCzAPlHws+W0rB5N+er5/2pJKnfBSDiCiFAVtCLOZ7gLiMm0jhO2B6tUXHI/+M
RPjy02i59lINMRRev56GKtcd9qO/0kUJWdZTdA2XoS82ixPvZtXQpUpuL12ab+9E
aDK8Z4RHJYYfCT3Q5vNAXaiWQ+8PTWm2QgBR/bkwSWc+NpUFgNPN9PvQi8WEg5Um
AGMCAwEAAaNjMGEwHQYDVR0OBBYEFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMB8GA1Ud
IwQYMBaAFDZh4QB8iAUJUYtEbEf/GkzJ6k8SMA8GA1UdEwEB/wQFMAMBAf8wDgYD
VR0PAQH/BAQDAgIEMA0GCSqGSIb3DQEBCwUAA4ICAQB8cMqTllHc8U+qCrOlg3H7
174lmaCsbo/bJ0C17JEgMLb4kvrqsXZs01U3mB/qABg/1t5Pd5AORHARs1hhqGIC
W/nKMav574f9rZN4PC2ZlufGXb7sIdJpGiO9ctRhiLuYuly10JccUZGEHpHSYM2G
tkgYbZba6lsCPYAAP83cyDV+1aOkTf1RCp/lM0PKvmxYN10RYsK631jrleGdcdkx
oSK//mSQbgcWnmAEZrzHoF1/0gso1HZgIn0YLzVhLSA/iXCX4QT2h3J5z3znluKG
1nv8NQdxei2DIIhASWfu804CA96cQKTTlaae2fweqXjdN1/v2nqOhngNyz1361mF
mr4XmaKH/ItTwOe72NI9ZcwS1lVaCvsIkTDCEXdm9rCNPAY10iTunIHFXRh+7KPz
lHGewCq/8TOohBRn0/NNfh7uRslOSZ/xKbN9tMBtw37Z8d2vvnXq/YWdsm1+JLVw
n6yYD/yacNJBlwpddla8eaVMjsF6nBnIgQOf9zKSe06nSTqvgwUHosgOECZJZ1Eu
zbH4yswbt02tKtKEFhx+v+OTge/06V+jGsqTWLsfrOCNLuA8H++z+pUENmpqnnHo
vaI47gC+TNpkgYGkkBT6B/m/U01BuOBBTzhIlMEZq9qkDWuM2cA5kW5V3FJUcfHn
w1IdYIg2Wxg7yHcQZemFQg==
-----END CERTIFICATE-----</Certificate>
</CertificateChain>
</Key>
</Keybox>
</AndroidAttestation>
